<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Registry privé GitLab -->
    <add key="gitlab" value="https://gitlab.com/api/v4/projects/70729956/packages/nuget/index.json" />
    <!-- Registry public NuGet.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- Tous les CustomVaultPackage* iront sur GitLab -->
    <packageSource key="gitlab">
      <package pattern="CustomVaultPackage*" />
    </packageSource>
    <!-- Tout le reste ira sur NuGet.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

 <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="artur437810" />
      <add key="ClearTextPassword" value="glpat-b1q3ooX2Z4ahbJKcMPr_nG86MQp1OmY4ZDQ4Cw.01.121ob3fz1" />
    </gitlab>
  </packageSourceCredentials>
</configuration>
